ha_url=your.hostname.com                     # do not include HTTP/HTTPS
ha_key=apipassword                           # your home assistant password
ha_port=8123                                 # default is 8123 for HTTP
ha_ssl=                                      # if you use SSL, set this to true
ha_alarm_entity=alarm_control_panel.ha_alarm # alarm control panel entity
ha_alarm_code=1234                           # code you use for the above entity
bot_token=                                   # your telegram bot token
allowed_chat_ids=12345,67890                 # chat IDs that can control the bot
allowed_users=username1,username2,username3  # usernames that can control the bot
admins=adminuser1,adminuser2                 # superusers that can perform special commands
fav_entities=light.bedroom,switch.fan        # used by /states to see current status
